body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: inherit;
    color: #282828;
}

ul a span, ul li span {
    font-size: 35px;
    color: #2a2a29;
    line-height: 35px;
}

ul.white a span, ul.white li span {
    font-size: 25px;
    color: #fff;
    line-height: 25px;
}

ul li {
    margin-bottom: 15px;
}

footer ul li {
    margin-bottom: 5px;
}

footer .column.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
.min-container{
    margin: 0 auto;
}
ul li .icon {
    margin-right: 18px;
}

.icon.icon-li-large {
    margin-bottom: 70px;
    float: left;
}

.gatoprin .navbar-item img {
    max-height: 49px;
}

nav.navbar {
    background: transparent;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

#services {
    padding-top: 77px;
}

.cat-print-1 {
    margin-bottom: -83px;
}

.cat-print-1 span.adicon-cat {
    font-size: 400px;
    padding-left: 100px;
}

#menu {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 40px;
}

#menu.sticky {
    position: fixed;
    top: 0;
    background: #ffffffbf;
    z-index: 1;
    border-bottom: 1px solid #fff;
    margin-top: 0;
}

.sticky .color-primary {
    color: #2a2929;
}

a.navbar-item:hover {
    background: transparent;

}

.navbar-menu.is-active {
    background: #55c4f1;
    box-shadow: none;
}

.columns {
    box-sizing: content-box;
    width: 100%;
}

a.navbar-item, .navbar-link {
    text-align: center;
}

.navbar-burger:hover {
    background-color: transparent;
    color: #fff;
}

.sticky .navbar-menu.is-active {
    background: #fff6;
}

.sticky .navbar-burger {
    color: #000;
}

#top {
    background-color: #55c4f1;
    background: url("../assets/img/bg.png") center center;
    background-size: cover;
}

a.navbar-item:hover span:after {
    content: ' ';
    width: 100%;
    height: 2px;
    background: #3273dc;
    display: block;
    margin-top: 1px;
    float: left;
    -webkit-animation: zoomInDown 0.3s cubic-bezier(0.25, 0.46, 0.57, 1.18);
    animation: zoomInDown 0.3s cubic-bezier(0.25, 0.46, 0.57, 1.18);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

div#work-bg {
    display: flex;
    padding: 0 15px;
    width: 100%;
    align-items: flex-start;
    margin-top: -94px;
}

#bgVideo {
    width: 574px;
    height: 492px;
    background: #fff url('../assets/img/bg-video.png') center;
    background-size: cover;
    margin: 0 auto;
}

#coverVideo {
    background: transparent;
    width: 418px;
    height: 419px;
    margin: 0 auto;
}

#coverVideo.stop {

    background: url('../assets/img/cover-video.png') center;
    background-size: cover;

}

#coverVideo.stop #video {
    opacity: 0;
}

#video {
    margin-top: 19px;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    border-radius: 5%;
    width: 87%;
    margin-left: 23px;
}

#buttonPlay {
    width: 25%;
    background-image: url('../assets/img/play.png');
    background-size: cover;
    background-position: center;
    height: 25%;
    position: absolute;
    top: 28%;
    margin: 0 auto;
    left: 36%;
    display: none;
    -webkit-transition: backgound 2s ease-out;
    transition: backgound 2s ease-out;
}

#coverVideo.stop #buttonPlay, #coverVideo.play:hover #buttonPlay {
    display: block;
}

#buttonPlay:hover {
    cursor: pointer;
    background-image: url('../assets/img/play-hover.png');
}

#iconServicio {
    font-size: 71px;
    margin: -3px auto 0;
    width: 64px;
    height: 64px;
    display: block;
}

.adicon-hands:before{
    margin-left: -24px;
}

#iconCalidad {
    font-size: 78px;
    margin: -10px auto 0;
    width: 64px;
    height: 64px;
    display: block;
    margin-bottom: 7px;
}

#iconPuntualidad {
    font-size: 71px;
    margin: -10px auto 0;
    width: 64px;
    height: 64px;
    display: block;
    margin-bottom: 4px;
}

.input, .textarea {
    color: #c7c7c7;
    border: none;
    box-shadow: none;
}

.input:focus, .textarea:focus {
    color: #12698d;
    border: none;
    box-shadow: 0px 0px 12px 0px #fff;
    -webkit-box-shadow: 0px 0px 12px 0px #fff;
    -moz-box-shadow: 0px 0px 12px 0px #fff;
}

.input.is-rounded, .textarea.is-rounded, .button.is-rounded {
    border-radius: 10px;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #83d1f4 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #83d1f4;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #83d1f4;
}

:-moz-placeholder { /* Firefox 18- */
    color: #83d1f4;
}

.button:hover {
    background: #12698d;
    color: #fff;
}

.button {
    background: #81C4E4;
    color: #fff;
    border: none;
    box-shadow: none;
}

.field:not(:last-child) {
    margin-bottom: 25px;
}

section#contact {
    min-height: 500px;
    position: relative;
    background: url(../assets/img/bg.png) center center;
    background-color: #55c4f1;
    
    background-size: cover;
}


#catContact {
    width: 100%;
    top: -90px;
    position: absolute;
}
#catContact img{
margin: 0 auto;
display: block;
}
footer#footer {
    background: #2a2929;
}

.slidesjs-pagination {
    display: none;
}

#companyIcons {
    width: 700px;
    margin: 0 auto;
}

.slidesjs-control a {
    animation: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.slidesjs-control, .slidesjs-container {
    min-height: 300px;
}

#slides2 .slidesjs-control,
#slides2 .slidesjs-container,
#slides3 .slidesjs-control,
#slides3 .slidesjs-container {
    min-height: 400px;
}

#company {
    background: url('../assets/img/bg-company.png') center;
    background-size: cover;
    padding-bottom: 90px;
}



/*****  helpers *****************/
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-primary {
    color: #fff;
}

.color-secondary {
    color: #55c4f1;
}

.color-third {
    color: #e35e9d;
}

.color-four {
    color: #f4d64e;
}

.color-five {
    color: #12698d;
}

.color-six {
    color: #2a2929;
}

.hov-primary, .hov-secondary, .hov-third, .hov-four, .hov-five,
a.hov-primary span, a.hov-secondary span, a.hov-third span, a.hov-four span, a.hov-five span {
    -webkit-transition: color 1s linear;
    transition: color 0.3s linear;
}

.hov-primary:hover, a.hov-primary:hover span {
    color: #55c4f1;
}

.hov-secondary:hover, a.hov-secondary:hover span {
    color: #12698d;
}

.hov-third:hover, a.hov-third:hover span {
    color: #e35e9d;
}

.hov-four:hover, a.hov-four:hover span {
    color: #f4d64e;
}

.hov-five:hover, a.hov-five:hover span {
    color: #2a2929;
}

.lineheight {
    line-height: 120% !important;
}
.h10 {
    height: 10px;
}
.h25 {
    height: 25px;
}

.h50 {
    height: 50px;
}

.h100 {
    height: 100px;
}

.h130 {
    height: 130px;
}

.h140 {
    height: 140px;
}

.sz15 {
    font-size: 15px !important;
}

.sz20 {
    font-size: 20px;
}

.sz35 {
    font-size: 35px;
}

.sz40 {
    font-size: 40px;
}

.sz18 {
    font-size: 18px;
}

.ico-scroll a .adicon-arrow1:before {
    -webkit-animation: colorScroll 1s ease-out alternate;
    animation: colorScroll 1s ease-out alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ico-scroll {
    position: relative;
}


body .arrows {
  position: relative;
  /**/
  position: absolute;
  top: 50%;
  left: 50%;
  /**/
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
}
body .arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 2.2727272727px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2.2727272727px solid rgba(255, 255, 255, 0.7);
  transform: translate(8.3333333333px, 33.3333333333px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
body .arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 3.125px solid rgba(255, 255, 255, 0.7);
  border-bottom: 3.125px solid rgba(255, 255, 255, 0.7);
  transform: translate(16.6666666667px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 3.125px solid rgba(255, 255, 255, 0);
    border-bottom: 3.125px solid rgba(255, 255, 255, 0);
    transform: translate(-4.1666666667px, -16.6666666667px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 3.125px solid rgba(255, 255, 255, 0);
    border-bottom: 3.125px solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: 3.125px solid rgba(255, 255, 255, 0.7);
    border-bottom: 3.125px solid rgba(255, 255, 255, 0.7);
    transform: translate(-4.1666666667px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 3.125px solid rgba(255, 255, 255, 0);
    border-bottom: 3.125px solid rgba(255, 255, 255, 0);
    transform: translate(-4.1666666667px, 16.6666666667px) rotate(-45deg);
  }
}

@-webkit-keyframes colorScroll {
    0% {
        color: #fff;
        content: "\e901";
    }
    50% {
        color: #c5e5f3;
        content: "\e902";
    }
    100% {
        color: #221f20;
        content: "\e903";
    }
}

@keyframes colorScroll {
    0% {
        color: #fff;
        content: "\e901";
    }
    50% {
        color: #c5e5f3;
        content: "\e902";
    }
    100% {
        content: "\e903";
        color: #221f20;
    }
}

@-webkit-keyframes movescroll {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateX(5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateX(0);
    }
}

@keyframes movescroll {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.animated.delay-dot {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.wait-animate {
    -webkit-animation-name: unset;
    animation-name: unset;
}
.columns{
    margin: 0;
}

/************* medias  ************/

@media only screen and (min-width: 769px) {
    .offset1 {
        margin-left: 6.33%;
    }
    .column.is-6.flex-column {
    flex: auto;
}
.min-container {
    width: 625px;
}
}

@media only screen and (min-width: 900px) {
    .min-container{
        width: 880px;
        max-width: 880px;
    }
    #slides1 {
        position: absolute;
        width: 300px;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    #slides {
        position: relative;
        min-height: 512px;
    }

    #slides2 {
        position: absolute;
        width: 400px;
        left: 111px;
        z-index: 1;
        top: 0;
    }

    #slides3 {
        position: absolute;
        width: 400px;
        bottom: 0;
        right: 184px;
        z-index: 3;
    }

    #slides4 {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        z-index: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
        width: 1200px;
    }

    #slides2 {
        position: absolute;
        width: 400px;
        left: 143px;
        z-index: 1;
        top: 0;
    }

    #slides3 {
        position: absolute;
        width: 400px;
        bottom: 0;
        right: 168px;
        z-index: 3;
    }
}

@media only screen and (max-width: 1279px) {
    ul a span, ul li span {
        font-size: 22px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 1087px) {
    #works {
        padding: 0 30px;
    }

    ul.white a span, ul.white li span {
        line-height: 18px;
        font-size: 18px;
    }
    #menu {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1087px) {
    #navMenuD {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInY;
        animation-name: flipInY;
    }

}

@media only screen and (max-width: 900px) {

    .cat-print-1 span.adicon-cat {
        font-size: 200px;
        padding-left: 50px;
    }
    .cat-print-1 {
        margin-bottom: -42px;
    }
}

@media only screen and (max-width: 800px) {
    #bgVideo {
        width: 100%;
        height: auto;
    }

    #companyIcons {
        width: 480px;
    }

    div#coverVideo {
        width: 480px;
    }

    ul {
        margin-left: 25%;
    }
    ul.white {
    margin-left: 0;
}

    #buttonPlay {
        width: 100px;
        height: 100px;
        left: 42%;
        top: 43%;
    }

    #video {
        width: 480px;
        margin: 0 auto;
        display: block;
    }

    div#work-bg {
        display: block;
        margin-top: 22px;
    }
}

@media only screen and (max-width: 768px) {
    #company {
        padding: 0 5px 90px;
    }
    #bgVideo {
        width: 100%;
        height: auto;
    }

    ul {
        margin-left: 33px;
    }

    div#catContact {
        position: static;
    }

    section#contact {
        margin-top: 0;
        padding: 30px;
    }

    #footer {
        padding: 30px;
    }

    #contact h2 {
        margin-bottom: 30px;
    }

    #companyIcons {
        width: 100%;
    }

    #companyIcons .columns {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    #bgVideo {
        width: 100%;
        height: auto;
    }

    div#coverVideo {
        width: 320px;
    }

    #video {
        width: 320px;
    }

    ul {
        margin-left: 33px;
    }
    ul.white {
        margin: 0;
    }
    div#work-bg {
        display: block;
        margin-top: 22px;
    }

    div#catContact {
        position: static;
    }

    section#contact {
        margin-top: 0;
        padding: 30px;
    }

    #contact h2 {
        margin-bottom: 30px;
    }

    #contact h2 span {
        font-size: 25px;
    }

    #footer {
        padding: 30px;
    }

    #companyIcons .columns {
        display: block;
    }
    h1 span.sz35,h2 span.sz35 {
        font-size: 120%;
    }

    p.sz18 {
        font-size: 100%;
    }

    .cat-print-1 span.adicon-cat {
        padding-left: 35px;
    }
}
